.slider_css {
    margin-top: 14px  !important;
}

.slider_css .webix_slider_left {
    background-color: #0d8bf2 !important;
}

.slider_css .webix_slider_right {
    background-color: #f3efe7 !important;
}
